<%- layout('layouts/main.ejs') %>

<h1>Ingresar</h1>

<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="Inserta Email">
    <input type="password" name="password" placeholder="Inserta tu contraseña">

    <button type="submit">
        SignIn
    </button>
</form>